.quiz-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  grid-auto-rows: 1fr;
  padding-top: 6rem;
  justify-items: start;
  justify-content: start;
}