#root {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  padding: 4rem 3rem;
  margin-left: 220px;
  transition: margin-left 0.2s;
  min-width: 0;
}

.layout__main--collapsed {
  margin-left: 93px !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 0;
    gap: 0rem;
}

.quiz-grid-wrapper {
    flex: 1 1 0%;
    min-width: 0;
}

body::-webkit-scrollbar {
    width: 8px;
    background: #181a2b;
}

body::-webkit-scrollbar-thumb {
    background: #6b3ed6;
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    background: #10111F;
}
